<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head( ~{ :: title})">
    <meta charset="UTF-8">
    <title>学生信息详情</title>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">基本信息</div>
    <div class="layui-card-body" style="padding-top: 10px">
        <form class="layui-form" action="" lay-filter="iform">
            <div class="layui-form-item"i id="form">
                <div class="layui-inline">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" id="id" disabled autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="studentName" id="studentName" th:value="${student.studentName}" lay-verify="studentName" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <select name="sex"  id="sex" lay-filter="sex" >
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-inline">
                        <input type="text" name="age" id="age" lay-verify="studentName" th:value="${student.age}" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-inline">
                        <input type="text" id="birthday"  placeholder="yyyy-MM-dd"  name="birthday" th:value="${student.birthday}" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">籍贯</label>
                    <div class="layui-input-inline">
                        <input type="text" name="domicilePlace" id="domicilePlace" lay-verify="studentName" th:value="${student.domicilePlace}" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="idCardNo" id="idCardNo" th:value="${student.idCardNo}"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mobilePhone" id="mobilePhone" th:value="${student.mobilePhone}" lay-verify="studentName" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">年级:</label>
                    <div class="layui-input-inline">
                        <select name="gradeId" id="gradeId" lay-filter="grade">
                           <!-- <option value="">请选择</option>
                            <option value="2013" th:each="g,stat : ${gradeList}" th:value="${g.id}"
                                    th:selected="${g.id == student.gradeId}"
                                    th:text="${g.gradeName}">2013级</option>-->
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">班级:</label>
                    <div class="layui-input-inline">
                        <select name="clazzId" id="clazzId" lay-filter="clazz" layui-search>
                             <!--<option value="">请选择</option>-->
                           <!-- <th:block  th:each="c,stat : ${clazzList}">
                             <option th:value="${c.id}" th:text="${c.clazzName}"
                                     th:selected="${c.id == student.clazzId}"
                                     value="2013">201901</option>
                            </th:block>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">居住地址</label>
                <div class="layui-input-block" style="width: 67%">
                    <input type="text" name="presentAddress" th:value="${student.presentAddress}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <legend>家长信息</legend>
            <hr>
            <table class="layui-hide"  id="test"  lay-filter="test"></table>
            <div class="layui-form-item" align="center">
                <div class="layui-inline">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo1">提交</button>
                </div>

                <div class="layui-inline">
                    <button type="button" id="addParent" class="layui-btn layui-btn">添加家长</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">
        <i class="iconfont layui-extendedit-fill"></i>编辑
    </a>
</script>
</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    layui.use(['table','layer','jquery','laydate','form'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var laydate = layui.laydate;
        var studentId = '';

        var loadIndex = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var t;
        function renderTable(){
            t = table.render({
                elem: '#test'
                ,url:apiPrefix+'/student/'+ studentId+'/parent'
                // ,cellMinWidth: 150 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,page : false
                ,title :'家长信息'
                ,cols: [ [
                    /*{field:'id', width:80, title: 'ID', sort: true}*/
                    {field:'name',title: '姓名', width:'15%', align:'center'}
                    ,{field:'sex',title: '性别', width:'10%', align:'center'}
                    ,{field:'age',title: '年龄', width:'10%', align:'center'}
                    ,{field:'idCardNo',title: '身份证号', width:'20%', align:'center'}
                    ,{field:'phone', title: '手机号', width:'15%',align:'center'}
                    ,{field:'studentRelation', title: '关系',align:'center', width: '15%'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    ,{title: '操作', fixed: 'right', toolbar:"#barDemo",align:'center',width:'15%'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ]]
                ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.resultCode, //解析接口状态
                        "msg": res.resultMsg, //解析提示文本
                        "count": res.data.size, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            });
        }

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.controllerLog(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {

                var url = '/parent';
                openModel(url,parent.layer,"编辑家长详情",function (layero,index) {
                    ajaxGet($,"/student/"+studentId+'/parent/'+data.id,function (data) {
                        var iframe = parent.window['layui-layer-iframe'+index];
                        var json = data.data;
                        json['studentId'] = studentId;
                        iframe.layui.fillData(json);
                    });
                   /* var content = layero.find("iframe")[0].contentWindow.document;
                    var stuId = $("#studentId", content);
                    stuId.val(studentId);*/

                },function () {
                    t.reload();
                });
                /*  layer.prompt({
                      formType: 2
                      , value: data.email
                  }, function (value, index) {
                      obj.update({
                          email: value
                      });
                      layer.close(index);
                  });*/
            }
        });

        laydate.render({
            elem: '#birthday',
            format: 'yyyy-MM-dd'
            ,trigger: 'click'
        });


        $("#addParent").click(function () {
            openModel("/parent",parent.layer,"增加家长",function (layero, index) {
                var stuId = $("#studentId", layero.find("iframe")[0].contentWindow.document);
                stuId.val(studentId);
            },function () {
                t.reload();
            });
        });

        var index = parent.layer.getFrameIndex(window.name);

        form.on('submit(demo1)', function(data){
            var url = '/student';
             console.log(JSON.stringify(data.field));
            ajaxPost($,url,JSON.stringify(data.field),function(data){
                if(data.success){
                    parent.layer.msg(data.resultMsg);
                    parent.layer.close(index);
                }
                layer.msg(data.resultMsg);
            });
            return false;
        });

        function fillFormData(data) {
            form.val("iform",{
                id:data.id,
                studentName:data.studentName,
                sex:data.sex,
                age:data.age,
                idCardNo:data.idCardNo,
                birthday:data.birthday,
                mobilePhone:data.mobilePhone,
                domicilePlace:data.domicilePlace,
                presentAddress:data.presentAddress,
                gradeId:data.gradeId,
                clazzId:data.clazzId
            });
        }

        layui.fillData=function(data) {
            studentId = data.id;
            renderTable();
            // console.log(JSON.stringify(data));
            ajaxGet($,"/clazz/list?gradeId="+data.gradeId,function (data1) {
                var htmls='';
                var json = data1.data;
                for(var x in json) {
                    htmls += '<option value="'+json[x].id+'">'+json[x].clazzName+'</option>'
                }
                $('#clazzId').html(htmls);
                form.render('select');//需要渲染一下
                fillFormData(data);
                layer.close(loadIndex);
            });
        }


        //异步填充年级内容
        layuiSelect($,"/grade/list",function (htmls,data) {
            for(var x in data) {
                htmls += '<option value="'+data[x].id+'">'+data[x].gradeName+'</option>'
            }
            $('#gradeId').html(htmls);
            form.render('select');//需要渲染一下
        });

        //监听复选框
        form.on('select(grade)', function (data) {
            var value = data.value;
            if(value == ''){
                // var htmls = '<option value="">请选择</option>'; //全局变量
                $('#clazzId').html('');
                form.render('select');//需要渲染一下
                return;
            }
            layuiSelect($,"/clazz/list?gradeId="+data.value,function (htmls,data) {
                for(var x in data) {
                    htmls += '<option value="'+data[x].id+'">'+data[x].clazzName+'</option>'
                }
                $('#clazzId').html(htmls);
                form.render('select');//需要渲染一下
            });
        });

    });
</script>
</html>