<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head( ~{ :: title})">
    <meta charset="UTF-8">
    <title>学生列表</title>
</head>

<body>

<div class="layui-row" style="margin-top: 20px">
    <form class="layui-form " action="">
        <div class="layui-inline" style="padding-left: 10px">
            <button type="button" class="layui-btn layui-btn-warm layui-btn-sm"  id="addStudentBtn">
                <i class="iconfont layui-extendjia-"></i><strong>添加</strong>
            </button>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">年级/班级:</label>
            <div class="layui-input-inline">
                <cascader id="demo1"></cascader>
            </div>
        </div>

        <div class="layui-inline">
            <button type="button"  class="layui-btn layui-btn-normal" id="uploadBtn">
                <i class="iconfont layui-extendcloud-upload"></i>
                导入
            </button>
            <button type="button" onclick="downloadExcel()" class="layui-btn">
                <i class="iconfont layui-extendcloud-download"></i>
                导出
            </button>
            <button type="button" onclick="downloadTemplate()" class="layui-btn" >导入模版下载</button>
        </div>
    </form>
</div>
<div class="layui-row">
    <table class="layui-hide"  id="test" lay-filter="test"></table>
</div>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">
        <i class="iconfont layui-extendedit-fill"></i>编辑
    </a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">
        <i class="iconfont layui-extenddelete"></i>删除
    </a>
</script>

<script type="text/html" id="uploadForm">


</script>
</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>

    layui.config({
        base: '/static/layui_ext/ajaxCascader/'
        ,version: '1.6'
    });

    function downloadTemplate() {
        window.location.href = '../../static/importTemplates/importStudentTemplate.xlsx';
    }

    function downloadExcel() {
        window.location.href = apiPrefix+'/student/excel';
    }
    layui.use(['jquery','table','upload','layer','form','ajaxCascader'], function () {
        var table = layui.table,
        upload = layui.upload,
        layer = layui.layer,
        $ = layui.jquery,
        form = layui.form;

        var cascader = layui.ajaxCascader;

        var gradeId = '';
        var clazzId = '';

        ajaxGet($,'/grade/list',function(res){
            var arr = [];
            data = res.data;

            $.each(data,function(i,val){
                var o = {};
                o.label = val.gradeName;
                o.value = val.id;
                o.hasChild = true;
                arr[i] = o;

            })
           renderCascader(arr);
        });
        // Ajax传参模式
        function renderCascader(data){
            cascader.load({
                elem: '#demo1'
                ,search: {
                    show: true
                     /*minLabel: 1,
                     placeholder: '请输入搜索词'*/
                }
                ,clear: true
                // ,value: 0
                ,data:data
                ,getChildren: function(value,callback){
                    console.log("getChilden");
                    var data = []
                    ajaxGet($,'/clazz/list?gradeId='+value,function(res){
                        data = res.data;
                        $.each(data,function(i,val){
                            var o = {};
                            o.label = val.clazzName;
                            o.value = val.id;
                            data[i] = o;
                        });
                        callback(data);
                    });
                }
            });
            cascader.on('click','#demo1',function(data){
                var chooseData = cascader.getChooseData('#demo1');
                if(chooseData[0] !== undefined) {
                    gradeId = chooseData[0];
                }
                if(chooseData[1] !== undefined) {
                    clazzId = chooseData[1];
                }

                active['reload'].call();

                // 获取当前已选中的数据,可单独使用
            });
            $("i.layui-icon-close").click(function() {
                gradeId = '';
                clazzId = '';

                active['reload'].call();
            });
        }

        var t = table.render({
            elem: '#test'
            , url: apiPrefix+'/student/page'
            // , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板*/
            // , defaultToolbar: [/*'filter',*/ 'exports']
            ,cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , title: '学生信息'
            , cols: [ [
               /* {type: 'checkbox',align:'center',width:'5%'}*/
               /* , {type:'numbers', title: '序号', width: '5%',align:'center'}*/
                 {field: 'id', title: '学号', width: '15%',align:'center'}
                , {field: 'studentName', title: '姓名', width: '15%',align:'center'}
                , {field: 'sex', title: '性别', width: '7%',align:'center'}
                , {field: 'age', title: '年龄', width: '7%',align:'center'}
                , {field: 'presentAddress', title: '居住地址', width: '15%',align:'center'}
                , {field: 'domicilePlace', title: '籍贯', width: '8%',align:'center'}
                , {field: 'clazzId', title: '班级编号', width: '10%',align:'center'}
                , {field: 'gradeId', title: '年级编号', width: '10%',align:'center'}
                , {fixed: 'right', title: '操作',align:'center', toolbar: '#barDemo', width: '13%' }
            ]]
            ,id: 'testReload'
            , page: true
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.resultCode, //解析接口状态
                    "msg": res.resultMsg, //解析提示文本
                    "count": res.data.totalElements, //解析数据长度
                    //  "count": res.data.size, //解析数据长度
                    "data": res.data.content //解析数据列表
                    // "data": res.data //解析数据列表
                };
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });



        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.controllerLog(obj)
            if (obj.event === 'del') {
                layer.confirm('<i class="layui-icon layui-icon-tips" style="color: red"></i>真的删除该学生信息吗？', function (index) {
                    ajaxDelete($,'/student/'+data.id,null,function(res) {
                        if(res.success) {
                            // active['reload'].call();
                            obj.del();
                        }
                       layer.msg(res.resultMsg);
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                openModel("/studentDetail",parent.layer,"编辑学生信息",function(layero,index){
                    ajaxGet($,"/student/"+data.id,function (data) {
                       setTimeout(function(){
                           var iframe = parent.window['layui-layer-iframe'+index];
                           var json = data.data;
                           iframe.layui.fillData(json);
                       },delayTime);
                    });
                },function () {
                   t.reload();
                });
            }
        });

       $("#uploadBtn").click(function() {
           if(gradeId === ''|| clazzId == '') {
               layer.msg("请选择年级和班级，然后进行导入！");
               return;
           }
           openMiniModel("/uploadForm",parent.layer,"导入学生excel",function (layero, index) {
               setTimeout(function(){
                   var json = {};
                   json['gradeId'] = gradeId;
                   json['clazzId'] = clazzId;
                   let url = apiPrefix+ "/student/excel/"+gradeId+'-'+clazzId;
                   json['url'] = url;
                   var iframe = parent.window['layui-layer-iframe'+index];
                   iframe.layui.fillData(json);
               },delayTime);
           },function() {
               active['reload'].call();
           })
       });


        var active = {
            reload: function(){
                // alert(gradeId);
                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                            gradeId: gradeId,
                           clazzId: clazzId
                    }
                });
            }
        };

        $('#addStudentBtn').click(function() {
            openModel('/studentDetail',parent.layer,"添加学生",function() {

            },function() {
               t.reload();
            });
        });


    });
</script>
</html>