<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head( ~{ :: title})">
    <meta charset="UTF-8">
    <title>班级列表</title>
</head>
<body>
<div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                       <h3 style="float: left">班级列表</h3>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">

                        <form class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <button type="button" id="addClazzBtn" class="layui-btn layui-btn-normal layui-btn-sm" style="width: 40px" lay-event="addData">
                                        <i class="iconfont layui-extendjia-"></i>
                                    </button>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">年级:</label>
                                    <div class="layui-input-inline">
                                        <div id="demo1"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="layui-table"  id="test1" lay-filter="test1"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-xs" lay-event="edit">
        <i class="iconfont layui-extendedit-fill"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="iconfont layui-extenddelete"></i>删除</a>
</script>

<script type="text/html" id="toolbar">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" style="width: 40px" lay-event="addData">
        <i class="iconfont layui-extendjia-"></i>
    </button>
</script>

</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

<script>
    layui.config({
        base: '/static/layui_ext/xmSelect/'
    }).extend({
        xmSelect: 'xm-select'
    });
    layui.use(['table','form','jquery','xmSelect'], function () {
        var table = layui.table,
        $ = layui.jquery,
        form = layui.form,
        xmSelect = layui.xmSelect;
//------------------------clazz-start---------------------------------------------
        var clazzTable = table.render({
            elem: '#test1'
            , url: apiPrefix+'/clazz/page'
            // , toolbar: '#toolbar1' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: [/*'filter', */'exports']
            ,cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , title: '班级列表'
            , cols: [ [
                {type: 'checkbox',align:'center', fixed: 'left',width:'10%'}
                , {field:'id', title: '班级编号', width: '20%',align:'center'}
                , {field: 'clazzName', title: '班级名称', width: '30%',align:'center'}
                , {
                    field: 'gradeId', title: '年级编号', width: '20%',align:'center'/*,templet: function (res) {
                        return '<em>' + res.grade.gradeName + '</em>'
                    }*/
                }
                , {fixed: 'right', title: '操作',align:'center', toolbar: '#barDemo1', width: '20%' }
            ]]
            ,id:'test1'
            , page: true
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.resultCode, //解析接口状态
                    "msg": res.resultMsg, //解析提示文本
                    "count": res.data.totalElements, //解析数据长度
                    "data": res.data.content //解析数据列表
                };
            }
        });


        $("#addClazzBtn").click(function() {
            openModel("/clazzDetail",parent.layer,"班级详情",function() {
            },function () {
                clazzTable.reload();
            })
        });
        //监听行工具事件
        table.on('tool(test1)', function (obj) {
            var data = obj.data;
            //console.controllerLog(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    ajaxDelete($,"/clazz?ids="+data.id,null,function (res) {
                        if(res.success) {
                            clazzTable.reload();
                        }
                        layer.msg(res.resultMsg);
                    })
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                openModel("/clazzDetail",parent.layer,"编辑班级信息",function(layero,index) {
                    setTimeout(function(){
                        var iframe = parent.window['layui-layer-iframe'+index];
                        var json = data;
                        iframe.layui.fillData(json);
                    },delayTime);
                },function() {
                    clazzTable.reload();
                })
            }
        });

        let flag = 0;
        let x = 2;
        x = 3;
        x =4;
        //渲染多选
        var demo1 = xmSelect.render({
            el: '#demo1',
            radio: true,
            filterable: true,
            clickClose: true,
            on: function(data){
                //arr:  当前多选已选中的数据
                //change, 此次选择变化的数据,数组
                var arr = data.arr;
                console.log(arr);
                var gradeId = arr.length > 0?arr[0].id:'';
                if(flag) {
                    table.reload('test1', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            gradeId: gradeId
                        }
                    });
                }
            },
            prop:{
                name:"gradeName",
                value:'id'
            }
        });

        ajaxGet($,'/grade/list',function(res) {
            if(res.success) {
                demo1.update({
                    data: res.data
                });
                flag = 1;
            }
        });


//----------------------clazz-end-------------------------------------------
    });
</script>
</html>