<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head( ~{ :: title})">
    <meta charset="UTF-8">
    <title>考试成绩详情</title>
</head>
<body>

<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-header" style="height: auto">
            <form class="layui-form " action="">
               <!-- <div class="layui-inline">
                    <label class="layui-form-label">年级:</label>
                    <div class="layui-input-inline">
                        <select name="grade" id="grade" lay-filter="grade">
                            &lt;!&ndash;<option value="2013">2013级</option>&ndash;&gt;
                            &lt;!&ndash;<option value="2014">2014级</option>&ndash;&gt;
                            &lt;!&ndash;<option value="2015">2015级</option>&ndash;&gt;
                        </select>
                    </div>
                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label" id="gradeName"></label>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">班级:</label>
                    <div class="layui-input-inline" style="width: 150px">
                        <div id="demo1"></div>
                    </div>
                </div>



                <div class="layui-inline">
                   <!-- <button type="button" onclick="downloadTemplate()" class="layui-btn" >导入模版下载</button>-->
                    <!--<button type="button"  class="layui-btn layui-btn-normal" id="uploadBtn">
                        <i class="iconfont layui-extendcloud-upload"></i>
                        导入
                    </button>-->
                    <button type="button"  id="exportBtn" class="layui-btn">
                        <i class="iconfont layui-extendcloud-download"></i>
                        导出
                    </button>
                </div>
            </form>
        </div>
        <div class="layui-card-body">
           <!-- <table class="layui-hide"  id="test" lay-filter="test"></table>-->
            <table  id="test"  lay-filter="test">
              <!--  <thead>
                <tr>
                    <th lay-data="{field:'clazzId',width:100,align:'center'}">班级</th>
                    <th lay-data="{field:'studentId',width:100,align:'center'}">学号</th>
                    <th lay-data="{field:'studentName',width:80,align:'center'}">姓名</th>
                    <th:block th:each="item,stat : ${courseList}">
                        <th th:attr="lay-data='{field:'+${item.id}+', width:60,align:\'center\'}'" th:text="${item.courseName}"></th>
                    </th:block>
                    <th lay-data="{field:'totalScore',width:60,align:'center'}">总分</th>
                    &lt;!&ndash;<th lay-data="{field:'clazzRank',width:100}">班级排名</th>&ndash;&gt;
                    <th lay-data="{type:'numbers',field:'gradeRank',width:100,align:'center'}">年级排名</th>
                </tr>
                </thead>-->
            </table>
        </div>
    </div>
</div>


</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    layui.config({
        base: '/static/layui_ext/'
    }).extend({
        excel:'excel_ext/excel',
        xmSelect:'xmSelect/xm-select'
    });
    layui.use(['jquery','table','xmSelect', 'excel', 'layer'], function () {
        var $ = layui.jquery,
            excel = layui.excel;
            layer = layui.layer,
        table = layui.table,
            xmSelect = layui.xmSelect;


        var index = parent.layer.getFrameIndex(window.name);
        let examName = '';
        let flag = 0;
        function renderSelect(data) {
            let demo1 = xmSelect.render({
                el: '#demo1',
                radio: true,
                filterable: true,
                clickClose: true,
                prop: {
                    name: "clazzName",
                    value: 'id'
                },
                on: function (data) {
                    //arr:  当前多选已选中的数据
                    //change, 此次选择变化的数据,数组
                    var arr = data.arr;
                    console.log(arr);
                    var clazzId = arr.length > 0 ? arr[0].id : '';
                    console.log(clazzId);
                    if (flag) {
                        table.reload('test', {
                             where: {
                                clazzId: clazzId
                            }
                        });
                    }
                }
            });
            ajaxGet($,'/clazz/list?gradeId='+data.gradeId,function(res) {
                if(res.success) {
                   demo1.update({
                       data:res.data
                   })
                }
            });
        }


        layui.fillData = function(data) {
            $('#gradeName').html('年级:'+data.gradeId);
            console.log(data);
            var loadIndex = layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            examName = data.examName;
            renderTable(data);
            renderSelect(data);
            flag = 1;
            layer.close(loadIndex);
        }
        function renderTable(data) {
            var loadIndex = layer.load(16, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            let attrCol = [ [
                {field:'clazzId', title:'班级',width:100,align:'center'},
                {field:'studentId', title:'学号',width:100,align:'center'},
                {field:'studentName', title:'姓名',width:100,align:'center'}

            ]];

            ajaxGetBySync($,'/course/list?gradeId='+data.gradeId,function(res) {
               if(res.success) {
                    $.each(res.data,function(i,val) {
                        let o = {field:val.id,width:70,align:'center'};
                        o.title=val.courseName;
                        attrCol[0].push(o);
                    })
               }
            });
            let ts = {field:'totalScore',title:'总分',width:70,align:'center'};
            let rank = {type:'numbers',title:'排名',field:'gradeRank',width:70,align:'center'};
            attrCol[0].push(ts);
            attrCol[0].push(rank);

            table.render({
                url: apiPrefix+'/examScore/list',
                elem:'#test',
                page:false,
                title:data.examName+"-->成绩表",
                cols:attrCol,
                where:{
                  examId:data.id
                },
                parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.resultCode, //解析接口状态
                        "msg": res.resultMsg, //解析提示文本
                        "count": res.data.size, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                id:'test',
                done:function(data) {
                     layer.close(loadIndex);
                }
            });
        }

        $('#exportBtn').click(function() {
           exportFile('test');
        });

        //表格导出
        function exportFile(id) {
            //根据传入tableID获取表头
            var headers = $("div[lay-id=" + id + "] .layui-table-box table").get(0);
            var htrs = Array.from(headers.querySelectorAll('tr'));
            var titles = {};
            for (var j = 0; j < htrs.length; j++) {
                var hths = Array.from(htrs[j].querySelectorAll("th"));
                for (var i = 0; i < hths.length; i++) {
                    var clazz = hths[i].getAttributeNode('class').value;
                    if (clazz != ' layui-table-col-special' && clazz != 'layui-hide') {
                        //排除居左、具有、隐藏字段
                        //修改:默认字段data-field+i,兼容部分数据表格中不存在data-field值的问题
                        titles['data-field' + i] = hths[i].innerText;
                    }
                }
            }
            //根据传入tableID获取table内容
            var bodys = $("div[lay-id=" + id + "] .layui-table-box table").get(1);
            var btrs = Array.from(bodys.querySelectorAll("tr"))
            var bodysArr = new Array();
            for (var j = 0; j < btrs.length; j++) {
                var contents = {};
                var btds = Array.from(btrs[j].querySelectorAll("td"));
                for (var i = 0; i < btds.length; i++) {
                    for (var key in titles) {
                        //修改:默认字段data-field+i,兼容部分数据表格中不存在data-field值的问题
                        var field = 'data-field' + i;
                        if (field === key) {
                            //根据表头字段获取table内容字段
                            contents[field] = btds[i].innerText;
                        }
                    }
                }
                bodysArr.push(contents)
            }
            //将标题行置顶添加到数组
            bodysArr.unshift(titles);
            //导出excel
            excel.exportExcel({
                sheet1: bodysArr
            },examName + '--成绩表.xlsx', 'xlsx');
        }
    });


</script>
</body>
</html>