<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head( ~{ :: title})">
    <meta charset="UTF-8">
    <title>登记成绩详情页</title>
</head>
<body>
<div class="layui-row" style="margin-top: 20px">
    <form class="layui-form" lay-filter="gradeForm"  action="">
        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label" id="gradeName"></label>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">班级</label>
                <div class="layui-input-inline">
                    <div id="demo1"></div>
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-normal" id="importBtn">导入成绩</button>
                <button type="button" class="layui-btn layui-btn-primary" id="downloadTemplateBtn">模版下载</button>
            </div>
        </div>

    </form>
    <hr class="layui-bg-blue">
</div>

<fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
    <legend>考试成绩表</legend>
    <table class="layui-table" id="test" lay-filter="test"></table>
</fieldset>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">
        <i class="iconfont layui-extendedit-fill"></i>编辑教师</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="iconfont layui-extenddelete"></i>删除</a>-->
</script>
</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    //加载组件
    layui.config({
        base: '/static/layui_ext/'
    }).extend({
        excel:'excel_ext/excel',
        xmSelect:'xmSelect/xm-select'
    });

    layui.use(['jquery','form','layer','xmSelect','table','excel'],function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            xmSelect = layui.xmSelect,
            table = layui.table,
        excel = layui.excel;

        let examName = '';
        let examId='';
        let gradeId='';
        let clazzId='';
        let flag = 0;
        function renderSelect(data) {
            let demo1 = xmSelect.render({
                el: '#demo1',
                radio: true,
                filterable: true,
                clickClose: true,
                prop: {
                    name: "clazzName",
                    value: 'id'
                },
                on: function (data) {
                    //arr:  当前多选已选中的数据
                    //change, 此次选择变化的数据,数组
                    var arr = data.arr;
                    console.log(arr);
                    clazzId = arr.length > 0 ? arr[0].id : '';
                    console.log(clazzId);
                    if (flag) {
                        table.reload('test', {
                            where: {
                                clazzId: clazzId
                            }
                        });
                    }
                }
            });
            ajaxGet($,'/clazz/list?gradeId='+data.gradeId,function(res) {
                if(res.success) {
                    demo1.update({
                        data:res.data
                    })
                }
            });
        }


        layui.fillData = function(data) {
            examId = data.id;
            gradeId = data.gradeId;
            $('#gradeName').html('年级:'+data.gradeId);
            console.log(data);
            var loadIndex = layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            examName = data.examName;
            renderTable(data);
            renderSelect(data);
            flag = 1;
            layer.close(loadIndex);
        }
        let user = getUserInfo();
        console.log(user);
        let teacherInfo={};
        ajaxGet($,'/user/info?id='+user['id']+'&roleId='+user['roleId'],function(res) {
            if(res.success) {
                teacherInfo = res.data;
            }
        })

        $('#downloadTemplateBtn').click(function() {
            if(clazzId === '') {
                layer.msg("请选择班级！");
                return false;
            }
           exportFile('test');
        });
        let t;
        function renderTable(data) {
            var loadIndex = layer.load(16, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            let attrCol = [ [
                {field:'clazzId', title:'班级',width:100,align:'center'},
                {field:'studentId', title:'学号',width:100,align:'center'},
                {field:'studentName', title:'姓名',width:100,align:'center'},
                {field:'courseName', title:'科目',width:100,align:'center'},
                {field:'score', title:'成绩',width:100,align:'center'}

            ]];

            t = table.render({
                url: apiPrefix+'/examScore/list',
                elem:'#test',
                page:false,
                title:data.examName+"-->成绩表",
                cols:attrCol,
                where:{
                    examId:data.id,
                    courseId:teacherInfo.courseId,
                    clazzId: clazzId
                },
                parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.resultCode, //解析接口状态
                        "msg": res.resultMsg, //解析提示文本
                        "count": res.data.size, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                },
                id:'test',
                done:function(data) {
                    layer.close(loadIndex);
                }
            });
        }

        $('#importBtn').click(function(){
            if(clazzId === '') {
                layer.msg("请选择班级！");
                return false;
            }
            openMiniModel("/uploadForm",layer,"导入学生成绩",function (layero, index) {
                setTimeout(function(){
                    var json = {};
                    json['gradeId'] = gradeId;
                    json['clazzId'] = clazzId;
                    let courseId = teacherInfo.courseId;
                    let url = apiPrefix+ "/examScore/"+examId+'_'+clazzId+'_'+courseId+"/excel/";
                    json['url'] = url;
                    var iframe = window['layui-layer-iframe'+index];
                    iframe.layui.fillData(json);
                },200);
            },function() {
                t.reload();
            })
        });


        //表格导出
        function exportFile(id) {
            //根据传入tableID获取表头
            var headers = $("div[lay-id=" + id + "] .layui-table-box table").get(0);
            var htrs = Array.from(headers.querySelectorAll('tr'));
            var titles = {};
            for (var j = 0; j < htrs.length; j++) {
                var hths = Array.from(htrs[j].querySelectorAll("th"));
                for (var i = 0; i < hths.length; i++) {
                    var clazz = hths[i].getAttributeNode('class').value;
                    if (clazz != ' layui-table-col-special' && clazz != 'layui-hide') {
                        //排除居左、具有、隐藏字段
                        //修改:默认字段data-field+i,兼容部分数据表格中不存在data-field值的问题
                        titles['data-field' + i] = hths[i].innerText;
                    }
                }
            }
            //根据传入tableID获取table内容
            var bodys = $("div[lay-id=" + id + "] .layui-table-box table").get(1);
            var btrs = Array.from(bodys.querySelectorAll("tr"))
            var bodysArr = new Array();
            for (var j = 0; j < btrs.length; j++) {
                var contents = {};
                var btds = Array.from(btrs[j].querySelectorAll("td"));
                for (var i = 0; i < btds.length; i++) {
                    for (var key in titles) {
                        //修改:默认字段data-field+i,兼容部分数据表格中不存在data-field值的问题
                        var field = 'data-field' + i;
                        if (field === key) {
                            //根据表头字段获取table内容字段
                            contents[field] = btds[i].innerText;
                        }
                    }
                }
                bodysArr.push(contents)
            }
            //将标题行置顶添加到数组
            bodysArr.unshift(titles);
            //导出excel
            excel.exportExcel({
                sheet1: bodysArr
            },examName + '--'+teacherInfo['courseName']+'成绩登记表.xls', 'xls');
        }
    });

</script>

</html>