<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/static/common/css/404.css}">
<title>404</title>
</head>
<body>
<main class="container">
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">4</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<span class="particle">0</span>
	<article class="content">
		<p>该死的火星人,</p>
		<p><strong>404</strong> 错误提示。</p>
		<p>
			<!--<a href="https://404.life"><button>返回.</button></a>-->
		</p>
	</article>
</main>


</body>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
</html>