<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台登录页面</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" href="css/login.css" media="all" th:href="@{/static/common/css/login.css}"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1603330_x7ze21kouqa.css">
    <style>
        /* 覆盖原框架样式 */
        .layui-elem-quote{background-color: inherit!important;}
        .layui-input, .layui-select, .layui-textarea{background-color: inherit; padding-left: 30px;}
    </style>
</head>
<body>
<!-- Head -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 zyl_mar_01">
            <blockquote class="layui-elem-quote"><h2>学生成绩管理系统</h2></blockquote>
        </div>
    </div>
</div>
<!-- Head End -->

<!-- Carousel -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
            <div carousel-item="">
                <div>
                    <img src="img/carousel/01.jpg"
                    th:src="@{/static/common/img/carousel/01.jpg}"/>
                </div>
                <div>
                    <img src="img/carousel/03.jpg"
                         th:src="@{/static/common/img/carousel/03.jpg}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Footer -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12 zyl_center zyl_mar_01">
        © 2020 - 简约后台登陆界面
    </div>
</div>
<!-- Footer End -->



<!-- LoginForm -->
<div class="zyl_lofo_main">
    <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
        <legend>欢迎登陆</legend>
    </fieldset>
    <div class="layui-row layui-col-space15">
        <form class="layui-form zyl_pad_01" action="">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="text" name="account" lay-verify="required|account" autocomplete="off" placeholder="账号" class="layui-input">
                    <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="password" name="password" lay-verify="required|password" autocomplete="off" placeholder="密码" class="layui-input">
                    <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="1" title="老师" >
                        <input type="radio" name="type" value="0" checked title="管理员">
                        <!--<input type="radio" name="sex" value="" title="女">
                        <input type="radio" name="sex" value="禁" title="禁用" disabled="">-->
                    </div>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md12">
                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo1">
                    <i class="iconfont layui-extendlogin"></i>
                    立即登录
                </button>
              </div>
        </form>
    </div>
</div>
<!-- LoginForm End -->

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->
<script>
    
    layui.use(['carousel', 'form','jquery','layer'], function(){
        var carousel = layui.carousel,
            form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            account: function(value){
                if(value.length < 5){
                    return '账号至少得5个字符';
                }
            }
            ,password: [/^[\S]{6,12}$/,'密码必须6到12位，且不能出现空格']

        });

        //监听提交
        form.on('submit(demo1)', function(data){
            /*if(!data.type) {
                layer.msg('请选择身份', {icon: 5});
                return false;
            }*/
            ajaxPost($,'/user/login',JSON.stringify(data.field),function(data){
               if(data.success) {
                   storeUserInfo(JSON.stringify(data.data));
                   window.location.href = '/index';
               }
               layer.msg(data.resultMsg);
            });

            return false;
        });


        //设置轮播主体高度
        var zyl_login_height = $(window).height()/1.3;
        var zyl_car_height = $(".zyl_login_height").css("cssText","height:" + zyl_login_height + "px!important");


        //Login轮播主体
        carousel.render({
            elem: '#zyllogin'//指向容器选择器
            ,width: '100%' //设置容器宽度
            ,height:'zyl_car_height'
            ,arrow: 'always' //始终显示箭头
            ,anim: 'fade' //切换动画方式
            ,autoplay: true //是否自动切换false true
            ,arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
            ,indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
            ,interval: '5000' //自动切换时间:单位：ms（毫秒）
        });
    });

</script>
</body>
</html>
